QMainWindow {
    /* /////////////////////////////// */
    /* ////////// box model ////////// */
    /* /////////////////////////////// */
    /* margin */
    /* border */
    /* padding */
    /* content */
    
    /* /////////////////////////////// */
    /* /////////// content /////////// */
    /* /////////////////////////////// */
    /* Background */
    background-color: #f0f0f0;
    /* Typography */
}

QListWidget {
    /* /////////////////////////////// */
    /* ////////// box model ////////// */
    /* /////////////////////////////// */
    /* margin */
    margin: 10px 0;
    /* border */
    border: 1px solid #ccc;
    /* padding */
    padding: 5px;
    /* content */

    /* /////////////////////////////// */
    /* /////////// content /////////// */
    /* /////////////////////////////// */
    /* Background */
    background-color: #ffffff;
}

QPushButton {
    /* /////////////////////////////// */
    /* ////////// box model ////////// */
    /* /////////////////////////////// */
    /* margin */
    margin: 4px 2px;
    /* border */
    border: 1px solid #000000;
    /* padding */
    padding: 15px 32px;
    /* content */
    min-height: 50px;
    max-height: 50px;
    min-width: 150px;
    max-width: 150px;
    /* /////////////////////////////// */
    /* /////////// content /////////// */
    /* /////////////////////////////// */
    /* Background */
    background-color: #4CAF50;
    /* Typography */
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

QPushButton#backButton, QPushButton#exitButton {
    /* /////////////////////////////// */
    /* ////////// box model ////////// */
    /* /////////////////////////////// */
    /* margin */
    margin: 4px 2px;
    /* border */
    /* padding */
    padding: 10px 20px;
    /* content */
    min-height: 40px;
    max-height: 40px;
    min-width: 60px;
    max-width: 60px;
    
    /* /////////////////////////////// */
    /* /////////// content /////////// */
    /* /////////////////////////////// */
    /* Background */
    background-color: #f44336; /* Red */
    /* Typography */
    text-align: left; /* Left aligned */
}

QPushButton:hover {
    /* /////////////////////////////// */
    /* ////////// box model ////////// */
    /* /////////////////////////////// */
    /* margin */
    /* border */
    /* padding */
    /* content */
    
    /* /////////////////////////////// */
    /* /////////// content /////////// */
    /* /////////////////////////////// */
    /* Background */
    background-color: #45a049;
    /* Typography */
}

QPushButton#backButton:hover, QPushButton#exitButton:hover {
    /* /////////////////////////////// */
    /* ////////// box model ////////// */
    /* /////////////////////////////// */
    /* margin */
    /* border */
    /* padding */
    /* content */
    
    /* /////////////////////////////// */
    /* /////////// content /////////// */
    /* /////////////////////////////// */
    /* Background */
    background-color: #d32f2f; /* Darker red */
    /* Typography */
}
